.great {
    text-decoration: underline;
    text-decoration-color: green;
}

.good {
    text-decoration: underline;
    text-decoration-color: dodgerblue;
}

.fair {
    text-decoration: underline;
    text-decoration-color: goldenrod;
}

.poor {
    text-decoration: underline;
    text-decoration-color: darkred;
}