{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block title %}goto home{% endblock %}

{% block page_content %}
<div class="page-header">
    <h1>welcome to goto home</h1>
</div>
<div class="page-content">
    <p>A recent Harvard study estimates that more than 7 million renter
    households include someone with a disability, but even after the passage
    of the Americans with Disabilities Act, it can be a challenge for people with
    mobility problems to find accessible housing.</p>
    <p>Though the Department of Housing and Urban Development periodically
    compiles inventories of accessible housing, these resources are out of date
    and have serious limitations.</p>
    <p>For example, single-family homes make up about 40% of the rental stock
    in the US, but HUD's inventory only covers multifamily dwellings. Even worse,
    HUD lists no accessible units at all for the vast majority of ZIP codes in
    the US.</p>
    <p>Access Granted attempts to ameliorate this situation by suggesting dwellings
    that may be accessible, drawing upon expert knowledge, housing data, and modern
    machine learning and artificial intelligence algorithms. Get in touch with us
    at access.granted.app@gmail.com if you have any feedback or suggestions!</p>
</div>
{% endblock %}
